h1, h3, td {
    font-family: "Franklin Gothic Book";
}
h1 {
    font-size: 32pt;
}
h3 {
    font-size: 20pt;
}
td {
    font-size: 18pt;
}

input[type=text], select[class=form-control] {
    font-size: 18pt;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    font-family: "Franklin Gothic Book";
}

input[type=submit] {
    font-size: 18pt;
    background-color: #7fb4b4;
    padding: 5px;
    border-radius: 4px;
    resize: vertical;
    font-family: "Franklin Gothic Book";
}

form.add_form {
    font-size: 18pt;
    margin-left: 10pt;
    max-width: 600;
    background-color: #91f0f0;
    border-radius: 0px;
    padding: 10pt;
    font-family: "Franklin Gothic Book";
}